* {
  box-sizing: border-box;
}

*::after,
*::before {
  content: '';
  clear: both;
  display: none;
  visibility: hidden;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  overflow-x: hidden;
}